<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="banksystem.mapper.AccountMapper">
    <!--  查询单条记录  -->
    <select id="selectAccountByName" parameterType="String" resultType="Account">
       select * from account where name = #{name}
    </select>

    <select id="selectAccountByCardId" parameterType="String" resultType="Account">
        select * from account where cardid = #{cardId}
    </select>

    <update id="updateBalance">
        update account set balance = #{balance} where name = #{name} and cardid = #{cardid}
    </update>
</mapper>